
.box1 {
    border: 5px solid black;
    margin: 40px;
    /* padding - top-right-bottom-left */
    padding: 20px 40px;
    height: 80px;
    width: 150px;
    background-color: blue;
}

.box2 {
    border:15px solid black;
    margin: 40px;
    /* padding - top-right-bottom-left */
    padding: 20px 40px;
    height: 80px;
    width: 150px;
    background-color:red;
    
}